* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #3B3B98;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 30%;
    border: 1px solid black;
    padding: 30px 15px;
    background-color: #23235B;
}

.panel-title {
    font-family: raleway;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.panel-result {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    justify-content: space-between;
    min-height: 50px;
    position: relative;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.result-area {
    font-family: raleway;
    font-size: 18px;
    color: white;
    display: block;
    width: calc(100% - 40px);
    word-break: break-all;
}

.result-btn {
    height: 35px;
    width: 35px;
    font-family: raleway;
    text-transform: uppercase;
    background-color: #3B3B98;
    border: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    margin-left: 5px;
    cursor: pointer;
    color: white;
    font-weight: 600;

}

.panel-setting {}

.setting {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.setting:first-child {
    margin-top: 20px;
}

.generate {
    width: 100%;
    padding: 7px 15px;
    background-color: #3B3B98;
    margin-top: 15px;
    color: white;
    border: none;
    text-transform: uppercase;
    font-family: raleway;
    cursor: pointer;
    border-radius: 5px;
}

label {
    font-family: raleway;
    color: white;

}